

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}





<h2>Admin Panel</h2>

<div ng-app="BlogApp">

    <div ng-controller="AdminController">

        <table class="table">
            <tr>
                <th>Użytkownik</th>
                <th>Rola</th>
            </tr>
            <tr ng-repeat="user in users">

                <td>{{user.userName}}</td>
                <td>{{user.role}}</td>
            </tr>
        </table>
    </div>
</div>

<script>
    var app = angular.module("BlogApp", []);
    app.controller("AdminController", function ($scope, $http) {
        $scope.getData = function () {
            $scope.users = [];


            $http.get('/api/users')
                .then(
                    function (response) {
                        $scope.users = response.data;
                    },
                    function (error) {
                        alert("ERROR");
                    });
        }

        $scope.getData();
    });
</script>