@model Blog.ViewModels.PostsListViewModel

@{
    ViewBag.Title = "Home Page";
}

<h2>Twoje Posty</h2>

<br />

<table class="table">
    <thead>
        <tr>
            <th>
               Tytuł
            </th>
            <th>
              Zawartość
            </th>
            <th>
              Autor
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.PostsList)
        {
           
            <tr>
                <td>
                    @item.Title
                </td>
                <td>
                    @item.Content
                </td>
                <td>
                    @item.AuthorName
                </td>
            </tr>
          
        }
    </tbody>


    </table>
